<%- include('layouts/head.ejs') %>

  <link rel="stylesheet" href="/css/books.css">
  </head>

  <body>

    <%- include('layouts/navigation.ejs') %>

      <main style="padding-top: 2rem; margin-left: 5rem; margin-right: 5rem;">
        <section class="layout">

          <a href="https://shop.minecraft.net/products/minecraft-blockopedia" target="_blank"
            title="MC: Blockpedia book">
            <article class="card">
              <div class="banner">
                <img class="banner__img"
                  src="https://shop.minecraft.net/cdn/shop/products/blockopedia_book_1800x1800.jpg?v=1639088666"
                  alt="MC: Blockpedia book" />
              </div>

              <h4 class="text-bold text-primary">
                MINECRAFT: BLOCKPEDIA HARDCOVER BOOK
              </h4>

              <p class="text-default">
                A completely updated version of the bestselling Minecraft: Blockopedia! Detailing each block found in
                the
                #1 game of all time, this is a must-have reference guide for all Minecrafters! This fully-illustrated
                guide contains information on each of the blocks that make up the Minecraft world. It's a beautiful and
                comprehensive reference tool for beginners and more experienced players alike, with essential
                information
                on every block's properties, as well as little-known trivia and expert advice on what to do with each
                one!
                From basic plants and ores to enchantment tables and End stone, you'll find everything you need to know
                in
                the Blockopedia.
              </p>

            </article>
          </a>

          <a href="https://www.amazon.com/Big-Book-Roblox-Deluxe-Unofficial/dp/1629377600" target="_blank"
            title="The Big Book of Roblox">
            <article class="card">
              <div class="banner">
                <img class="banner__img" src="https://m.media-amazon.com/images/I/71TuuZ14ToL._SL1000_.jpg"
                  alt="The Big Book of Roblox" />
              </div>

              <h4 class="text-bold text-primary">
                The Big Book of Roblox: The Deluxe Unofficial Game Guide
              </h4>

              <p class="text-default">
                With over 90 million monthly users and counting, Roblox is one of the most popular games on the planet!
                The Big Book of Roblox helps players get the most out of this dynamic sandbox game. Packed with tips,
                hints, and hacks, this complete, up-to-date guide covers basic strategy as well as advanced tricks and
                is
                essential reading for anyone who wants to play like a pro.
              </p>

            </article>
          </a>

          <a href="https://www.amazon.com/Harry-Potter-Sorcerers-Stone-Rowling/dp/059035342X/ref=sr_1_3?keywords=harry+potter+book&qid=1699701551&sr=8-3"
            target="_blank" title="Harry Potter and the Sorcerer's Stone">
            <article class="card">
              <div class="banner">
                <img class="banner__img" src="https://m.media-amazon.com/images/I/81iqZ2HHD-L._SL1500_.jpg"
                  alt="Harry Potter and the Sorcerer's Stone" />
              </div>

              <h4 class="text-bold text-primary">
                Harry Potter and the Sorcerer's Stone
              </h4>

              <p class="text-default">
                Harry Potter has no idea how famous he is. That's because he's being raised by his miserable aunt and
                uncle who are terrified Harry will learn that he's really a wizard, just as his parents were. But
                everything changes when Harry is summoned to attend an infamous school for wizards, and he begins to
                discover some clues about his illustrious birthright. From the surprising way he is greeted by a lovable
                giant, to the unique curriculum and colorful faculty at his unusual school, Harry finds himself drawn
                deep
                inside a mystical world he never knew existed and closer to his own noble destiny.
              </p>

            </article>
          </a>

        </section>
      </main>

      <%- include('layouts/end.ejs') %>