<%- include('layouts/head.ejs') %>

  </head>

  <body>

    <%- include('layouts/navigation.ejs') %>
      <!-- <nav class="navbar">
    <ul class="navbar__list navbar__list-left">
      <li>
        <h2>My Store</h2>
      </li>
      <li>
        <p><a class="navbar__link" href="http://localhost:3000/books">Books</a></p>
      </li>
      <li>
        <p><a class="navbar__link" href="http://localhost:3000/games">Games</a></p>
      </li>
    </ul>

    <ul class="navbar__list navbar__list-right">
      <li>
        <p>Chachchai T.</p>
      </li>
    </ul>
  </nav> -->

      <main class="container">
        <section class="layout">
          <a href="https://www.roblox.com" target="_blank" title="ROBLOX">
            <article class="card">
              <h4 class="text-bold text-primary">Roblox</h4>
              <p class="text-default">
                An online game platform and game creation system developed by Roblox Corporation that allows users to
                program
                games and play games created by other users. Created by David Baszucki and Erik Cassel in 2004 and
                released
                in
                2006, the platform hosts user-created games of multiple genres coded in the programming language Lua.
              </p>
            </article>
          </a>

          <a href="https://www.minecraft.net" target="_blank" title="MINECRAFT">
            <article class="card">
              <h4 class="text-bold text-primary">
                Minecraft
              </h4>
              <p class="text-default">
                A sandbox video game developed by Mojang Studios. The game was created by Markus "Notch" Persson in the
                Java
                programming language. Following several early private testing versions, it was first made public in May
                2009
                before being fully released in November 2011, with Notch stepping down and Jens "Jeb" Bergensten taking
                over
                development.
              </p>
            </article>
          </a>

          <a href="https://www.pokemon.com" target="_blank" title="POKEMON">
            <article class="card">
              <h4 class="text-bold text-primary">
                Pokémon
              </h4>
              <p class="text-default">
                A series of video games developed by Game Freak and published by Nintendo and The
                Pokémon Company under the
                ''Pokémon'' media franchise. It was created by Satoshi Tajiri with assistance from Ken Sugimori, the
                first
                games, ''Pocket Monsters Red'' and ''Green'', were released in 1996 in Japan for the Game Boy, later
                released
                outside of Japan as ''Pokémon Red Version''.
              </p>
            </article>
          </a>

        </section>
      </main>

      <%- include('layouts/end.ejs') %>